*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.contenedor{
    border: 0.5rem solid blue;
    background-color: aliceblue;
    display: grid;
    /*grid-template-columns: minmax(6rem, 30rem) 10rem minmax(3rem, 15rem);
    grid-template-rows: repeat(3, 10rem);*/
    /*grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));*/
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    
}

.item{
    font-size: 4rem;
    border: 0.3rem solid chocolate;
}